@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color : #003D48;
    --secondary-color : #FBB169;
    --third-color: #1D1D1D;
    --fourth-color: #5CAAB8;
    --spacing: 10px;
    --font-size : 1rem;
    --primary-font: 'Orbitron', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}



.App{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background: url("./public/images/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .footerContainer{
        flex-grow: 1;
    }
}