.parent-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: hidden;

  .classement-recompense {
    height: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 80%;
    .classement {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 55%;

      h1 {
        font-family: "Orbitron";
        padding: 1vh;
        color: var(--secondary-color);
        // color: white;
        text-align: center;
        font-size: 4rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      .podium-img {
        width: 35%;
      }

      .top-3 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: end;
        padding-left: 3%;

        img {
          width: 90px;
          height: 90px;
        }

        p {
          color: white;
          font-family: "Orbitron";
          font-size: 15px;
          font-weight: bold;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .winner1 {
          padding-bottom: 4%;
        }
      }
    }

    .recompenses {
      width: 100%;
      height: 20%;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 2rem;
      font-family: "Orbitron";
      .winners {
        display: flex;
        justify-content: space-around;
        height: 75%;

        .medaille {
          width: 2.5vw;
        }

        .container-winner1-3 {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 100%;
          .winners {
            display: flex;
            align-items: center;
            .imageLotContainer {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .imageLot {
              height: 9vh;
            }
          }
        }
        .playerNames {
          font-weight: bold;
        }
      }

      h2 {
        font-family: "Orbitron";
        color: var(--secondary-color);
        text-align: center;
        font-size: 25px;
        padding: 1vh;
      }

      .container-winners4-6 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        .winners4-6 {
          display: flex;
          align-items: center;
          color: white;
          font-family: "Orbitron";
          font-size: 2rem;

          .imageLot {
            height: 9vh;
          }
        }
        .playerNames {
          font-weight: bold;
        }
      }
    }
  }

  .lots {
    width: 40%;
    height: 75vh;
    flex-shrink: 0;

    h2 {
      font-family: "Orbitron";
      padding: 1vh;
      font-size: 34px;
      color: var(--secondary-color);
      // color: white;
      text-align: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    img {
      width: 8vw;
    }
    .container-lotswin {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 4% 0 0 12%;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      height: 100%;
      width: 100%;
      .tickets {
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 2rem;
        font-family: "Orbitron";
        font-weight: bold;
        gap: 2vh;
        height: 100%;
        width: 100%;
        .ticketsAvailables {
          display: flex;
          align-items: center;
          gap: 2vw;
        }
        .imageLot {
          height: 15vh;
        }
      }
    }
  }

  @media screen and (max-width: 1250px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .classement-recompense {
      width: 100%;
      border: none;
    }

    .lots {
      width: 100%;
      height: 40vh;
      .container-lotswin {
        padding: 0;
        justify-content: flex-start;

        .tickets {
          flex-wrap: wrap;
          height: 100%;
          align-items: center;
          img {
            width: 40%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 970px) {
    .classement-recompense {
      .recompenses {
        .winners {
          flex-wrap: wrap;
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    .classement-recompense {
      .classement {
        h1 {
          font-size: 3rem;
        }
        .top-3 {
          img {
            width: 70px;
            height: 70px;
          }
          p {
            display: none;
          }
        }
        .podium-img {
          width: 45%;
        }
      }
      .recompenses {
        .winners {
          font-size: 1.5rem;
          .container-winner1-3 {
            .medaille {
              width: 8%;
            }
          }
          .container-winners4-6 {
            .winners4-6 {
              p {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
    .lots {
      padding: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 3rem;
      }
      .container-lotswin {
        align-items: center;
        .tickets {
          font-size: 1.5rem;
          align-items: center;
          justify-content: center;
          .ticketsAvailables {
            width: 40%;
            object-fit: contain;
          }
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    .classement-recompense {
      .classement {
        h1 {
          font-size: 2rem;
        }
        .top-3 {
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
      .recompenses {
        .winners {
          .container-winner1-3 {
            flex-wrap: wrap;
            .winners {
              .imageLotContainer {
                img {
                  height: 5vh;
                }
              }
            }
          }
          .container-winners4-6 {
            .winners4-6 {
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
              img {
                height: 5vh;
              }
            }
          }
        }
      }
    }
    .lots {
      height: 20vh;
      padding: 5% 1% 5% 1%;
      h2 {
        font-size: 2.5rem;
      }
      .container-lotswin {
        padding-top: 2%;
        .tickets {
          .ticketsAvailables {
            width: 45%;
            justify-content: center;
            img {
              width: 20%;
              height: 80%;
            }
          }
        }
      }
    }
  }
}
