.container {
  display: flex;
  justify-content: center;
  padding-top: 3%;

  .container-form {
    font-family: var(--secondary-font);
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 72vh;

    .form-contact {
      display: flex;
      flex-direction: column;
      width: 470px;

      .header-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        h1 {
          color: var(--secondary-color);
          font-family: var(--primary-font);
          font-size: 3.5rem;
        }
        .pacman {
          transform: rotate(15deg);
          width: 85px;
        }
      }

      .input-container {
        width: 100%;
        height: 100%;

        .name,
        .email {
          padding: 5px;
          font-size: 2rem;
          border-radius: 5px;
          border: none;
          background-color: rgba(255, 255, 255, 0.79);
          width: 100%;
          height: 5vh;
        }

        .message {
          font-family: var(--secondary-font);
          padding: 5px;
          font-size: 2rem;
          border-radius: 5px;
          border: none;
          background-color: rgba(255, 255, 255, 0.79);
          width: 100%;
          height: 15vh;
        }

        textarea::placeholder {
          font-style: italic;
          font-family: var(--secondary-font);
        }
        p {
          font-family: var(--secondary-font);
          padding-top: 2%;
          padding-bottom: 2%;
          font-size: 2.3rem;
        }
      }

      .button-contact {
        width: 100%;
        padding-top: 10px;

        width: 100%;
        display: flex;
        justify-content: end;
        text-decoration: none;
        .btn-contact {
          cursor: pointer;
          width: 30%;
          font-size: 1.8rem;
          color: white;
          font-family: var(--primary-font);
          font-weight: bold;
          border-radius: 3px;
          background-color: #b45843;
          border: none;
          padding: 10px;

          &:disabled {
            background-color: #ac6a5b;
            color: rgba(255, 253, 253, 0.445);
            cursor: initial;
          }
        }
      }
      .container-adresse {
        display: flex;
        align-items: start;
        justify-content: center;
        padding-top: 10px;

        .adresse {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 50%;

          .map {
            cursor: pointer;
            width: 50px;
            height: 50px;
          }
          p {
            font-size: 1.8rem;
            padding: 5px;
          }
        }

        .reseaux-sociaux {
          display: flex;
          flex-direction: column;
          align-items: end;
          width: 50%;
          p {
            padding: 2%;
            font-size: 1.8rem;
          }
          .img-reseaux {
            width: 100%;
            padding: 5px;
            display: flex;
            justify-content: end;
            gap: 20px;

            .facebook,
            .instagram {
              cursor: pointer;
              margin-left: 10%;
              width: 45px;
            }
          }
        }
      }
    }
  }
}

// RESPONSIVE

@media screen and (max-width: 1400px) {
  .container {
    .container-form {
      width: 45%;
      margin-top: 5%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .container {
    .container-form {
      width: 55%;
      margin-top: 5%;
    }
  }
}
@media screen and (max-width: 900px) {
  .container {
    .container-form {
      width: 65%;
      margin-top: 5%;
      .form-contact {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    .container-form {
      width: 75%;
      margin-top: 10%;

      .form-contact {
        width: 80%;

        .container-adresse {
          .adresse {
            width: 50%;
            .map {
              width: 40px;
              height: 40px;
            }
            p {
              font-size: 1.5rem;
              padding: 0;
            }
          }
          .reseaux-sociaux {
            width: 50%;
            p {
              padding: 0;
              font-size: 1.5rem;
            }
            .img-reseaux {
              gap: 10px;

              .facebook,
              .instagram {
                width: 38px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .container-form {
      width: 90%;
      height: 60vh;
      margin-top: 15%;

      .form-contact {
        width: 90%;

        .header-contact {
          h1 {
            font-size: 3rem;
          }
          .pacman {
            width: 70px;
          }
        }

        .input-container {
          .name,
          .email {
            font-size: 1.2rem;
            width: 100%;
            height: 4vh;
          }

          .message {
            font-size: 1.5rem;
            height: 12vh;
          }

          textarea::placeholder {
          }
          p {
            font-size: 1.8rem;
          }
        }
        .button-contact {
          .btn-contact {
            width: 15vh;
            font-size: 1.2rem;
          }
        }
        .container-adresse {
          .adresse {
            width: 50%;
            .map {
              width: 40px;
              height: 40px;
            }
            p {
              font-size: 1.3rem;
              padding: 0;
            }
          }
          .reseaux-sociaux {
            width: 50%;
            p {
              padding: 0;
              font-size: 1.3rem;
            }
            .img-reseaux {
              gap: 10px;

              .facebook,
              .instagram {
                width: 38px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 325px) {


};
