.container {
  display: flex;
  justify-content: center;
  padding-top: 6%;

  .container-form {
    font-family: var(--secondary-font);
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 550px;

    .form-contact {
        border: 2px solid rgb(0, 51, 255);
      display: flex;
      flex-direction: column;
      width: 450px;
      height: 450px;

      .header-contact {
        border: 2px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          color: var(--secondary-color);
          font-family: var(--primary-font);
          font-size: 20px;
        }
        .pacman {
          transform: rotate(15deg);
          width: 40px;
        }
      }

      .input-container {
        justify-content: center;
        border: 1px solid green;
        width: 450px;
        height: 350px;
      }
      p {
        font-size: 13px;
      }

      .btn-contact {
        color: white;
        font-family: var(--primary-font);
        font-weight: bold;
        border-radius: 3px;
        background-color: #b45843;
        border: 1px solid yellow;
        width: 90px;
        height: 25px;
      }

      .adresse {
        border: 1px solid red;
      }

      .reseaux-sociaux {
        border: 1px solid red;
      }
    }
  }
}
