.home-echange {
  width: 100%;
  height: 79vh;
  padding-top: 7%;
  position: relative;

  .container-echange {
    margin: 0 auto;
    width: 50vw;
    height: 65vh;
    border: 2px solid white;
    background-color: #0000008a;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    a {
      display: flex;
      align-self: flex-start;
      width: 25%;
      transform: translate(40%);
      text-align: center;
      color: white;
      font-family: var(--secondary-font);
      background-color: rgba(0, 0, 0, 0.575);
      border-radius: 5px;
      padding: var(--spacing);
      text-decoration: none;
      font-size: 1.5rem;
      font-size: 1.8rem;
      cursor: pointer;

      img {
        transform: translateY(5%);
        width: 10%;
      }
    }
    .mes-lots {
      width: 80%;
      height: 15vh;
      border: 2px solid white;
      background-color: var(--primary-color);
      border-radius: 6px;
      padding: 8px;

      h1 {
        width: 100%;
        padding: 1px;
        font-size: 2.5rem;
        text-align: center;
        font-family: var(--primary-font);
        color: var(--fourth-color);
      }

      .lots-user {
        height: 80%;
        display: flex;
        .gl-trait-echange {
          width: 4%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .trait-echange {
            width: 1px;
            background-color: white;
            height: 60%;
            border-radius: 10px;
          }
        }

        .lots-scores {
          height: 100%;
          width: 90%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          p {
            font-family: var(--secondary-font);
            color: white;
            font-size: 1.6rem;
            padding-bottom: 2%;
          }
          .images-recompense {
            display: flex;
            padding: 5px;

            .lotWinPlayer {
              position: relative;
              display: flex;
            }

            .lotsWin {
              width: 3vw;
            }

            .elispe-coche {
              position: absolute;
              top: -15px;
              right: -10px;
              width: 20px;
              cursor: pointer;

              img {
                width: 100%;
              }
            }
          }
        }
        .user-score {
          width: 30%;
          font-family: var(--primary-font);
          color: white;
          font-size: 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: var(--spacing);
        }
      }
    }
    .image-echangeur {
      width: 10%;
      text-align: center;
      display: flex;
      position: relative;
      img {
        width: 100%;
        cursor: pointer;
      }
      p {
        position: absolute;
        padding-left: 150%;
        width: 25vw;
        color: var(--secondary-color);
        font-weight: bold;
      }
    }

    .echange-joueur {
      width: 80%;
      height: 20vh;
      border: 2px solid white;
      background-color: var(--primary-color);
      border-radius: 6px;
      display: flex;
      padding: var(--spacing);

      .Joueurs-p1 {
        width: 100%;
        h1 {
          width: 100%;
          padding: 1px;
          font-size: 2.5rem;
          text-align: center;
          font-family: var(--primary-font);
          color: var(--fourth-color);
        }
        p {
          font-family: var(--secondary-font);
          color: white;
          font-size: 1.6rem;
        }
        .lots-disponibles {
          display: flex;
          align-items: center;
          height: 75%;

          .images-echange {
            display: flex;
            padding: 5px;

            img {
              width: 4vw;
            }
            .lotWinPlayer {
              position: relative;
              .elispe-coche {
                position: absolute;
                top: -15px;
                right: 0px;
                width: 20px;
                cursor: pointer;
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      .gl-trait-echange-2 {
        width: 4%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .trait-echange-2 {
          width: 1px;
          background-color: white;
          height: 80%;
          border-radius: 10px;
        }
      }
    }
    .Joueurs-p2 {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
    h1 {
      padding: 1px;
      font-family: var(--primary-font);
      color: var(--fourth-color);
    }
    p {
      font-family: var(--primary-font);
      color: white;
      font-size: 2rem;
    }
    img {
      width: 50%;
      cursor: pointer;
    }
  }
  .avatar {
    overflow: hidden;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #00212a;
  }
}

@media screen and (max-width: 1285px) {
  .home-echange {
    .container-echange {
      padding-top: 5%;
      width: 65vw;
      height: 70vh;
      gap: 10px;

      a {
        width: 30%;
        transform: translate(15%);
        padding: 8px;
        font-size: 1.3rem;
      }
      .mes-lots {
        width: 90%;
        height: 15vh;

        h1 {
          font-size: 2rem;
        }

        .lots-user {
          .lots-scores {
            p {
              font-size: 1.5rem;
              padding-bottom: 5%;
            }
            .images-recompense {
              padding: 2px;
            }
          }
          .user-score {
            p {
              font-size: 1.8rem;
            }
          }
        }
      }
      .image-echangeur {
        width: 12%;
      }

      .echange-joueur {
        width: 90%;
        .Joueurs-p1 {
          width: 100%;
          h1 {
            font-size: 2rem;
          }
          p {
            font-size: 1.6rem;
          }
          .lots-disponibles {
            height: 75%;

            .images-echange {
              padding: 5px;
            }
          }
        }
        .gl-trait-echange-2 {
          width: 4%;
          height: 100%;

          .trait-echange-2 {
            width: 1px;
            height: 80%;
          }
        }
      }
      .Joueurs-p2 {
        width: 50%;
      }

      h1 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1.6rem;
      }
      img {
        width: 50%;
      }
    }
    .avatar {
      height: 180px;
      width: 180px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .home-echange {
    .container-echange {
      .mes-lots {
        height: 18vh;
        .lots-user {
          .lots-scores {
            .images-recompense {
              .lotsWin {
                width: 5vw;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .home-echange {
    .container-echange {
      width: 80vw;
      height: 70vh;

      .mes-lots {
        .lots-user {
          .lots-scores {
            .images-recompense {
              .lotsWin {
                width: 5.5vw;
              }
            }
          }
        }
      }

      .echange-joueur {
        width: 90%;
        .Joueurs-p1 {
          .lots-disponibles {
            height: 75%;
          }
        }
      }
      .Joueurs-p2 {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .home-echange {
    .container-echange {
      a {
        width: 40%;
        font-size: 1.3rem;
      }
      .mes-lots {
        .lots-user {
          .lots-scores {
            .images-recompense {
              .lotsWin {
                width: 7vw;
              }
            }
          }
          .user-score {
            width: 50%;
          }
        }
      }
      .image-echangeur {
        width: 12%;
      }

      .echange-joueur {
        .Joueurs-p1 {
          .lots-disponibles {
            height: 75%;
          }
        }
      }
      .Joueurs-p2 {
        width: 60%;
      }
    }
    .avatar {
      height: 140px;
      width: 140px;
    }
  }
}
@media screen and (max-width: 550px) {
  .home-echange {
    .avatar {
      height: 100px;
      width: 100px;
    }
    .container-echange {
      a {
        transform: translate(5%);
        width: 40%;
        font-size: 1.2rem;
      }
      .mes-lots {
        height: 25vw;
        h1 {
          font-size: 1.8rem;
        }
        .lots-user {
          .lots-scores {
            p {
              font-size: 1.2rem;
            }
            .images-recompense {
              .lotsWin {
                width: 8vw;
              }
            }
          }
          .user-score {
            width: 50%;

            p {
              font-size: 1.5rem;
            }
          }
        }
      }
      .image-echangeur {
        width: 15%;
      }

      .echange-joueur {
        .Joueurs-p1 {
          p {
            font-size: 1.2rem;
          }
          h1 {
            font-size: 1.8rem;
          }
          .lots-disponibles {
            height: 75%;
          }
        }
      }
      .Joueurs-p2 {
        width: 80%;

        h1 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .home-echange {
    display: flex;
    justify-content: center;
    align-items: center;
    .container-echange {
      height: 65vh;
      a {
        transform: translate(5%);
        width: 50%;
        font-size: 1.2rem;
      }
      .mes-lots {
        height: 30vw;
        h1 {
          font-size: 1.6rem;
        }
        .lots-user {
          .lots-scores {
            p {
              font-size: 1.2rem;
            }
            .images-recompense {
              .lotsWin {
                width: 9vw;
              }
            }
          }
          .user-score {
            width: 60%;

            p {
              font-size: 1.5rem;
            }
          }
        }
      }
      .image-echangeur {
        width: 15%;
      }

      .echange-joueur {
        height: 18vh;
        .Joueurs-p1 {
          p {
            font-size: 1.2rem;
          }
          h1 {
            font-size: 1.6rem;
          }
          .lots-disponibles {
            height: 75%;

            .images-echange {
              img {
                width: 10vw;
              }
            }
          }
        }
      }
      .Joueurs-p2 {
        width: 90%;

        h1 {
          font-size: 1.3rem;
        }
        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}
@media screen and (max-width: 380px) {
  .home-echange {
    .container-echange {
      width: 95vw;

      .mes-lots {
        height: 35vw;

        .lots-user {
          .lots-scores {
            .images-recompense {
              .lotsWin {
                width: 12vw;
              }
            }
          }
        }
      }
      .image-echangeur {
        width: 20%;
      }
    }
  }
}
