.home-echange {
  width: 100%;
  height: 79vh;
  padding-top: 7%;
  position: relative;

  .container-echange {
    margin: 0 auto;
    width: 50vw;
    height: 60vh;
    border: 2px solid white;
    background-color: #0000008a;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;

.retour-page{
  border: 1px solid red;
  padding: var(--spacing);
  width: 30%;
  text-align: center;
  font-size: 1.4rem;
  color: white;
  font-family: var(--secondary-font);
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 10px;
}

.mes-lots{
  width: 80%;
  height: 20vh;
  border: 1px solid red;
}


  }

  .avatar {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #00212a;
  }

}
