.HomePage {
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .Carouselle {
    width: 100%;

    height: 30vh;

    .Int-carouselle {
      border: 1px solid var(--secondary-color);
      width: 60%;
      margin: 0 auto;
      height: 100%;
      margin-top: 10px;
      background-color: #000000b6;

      .npm-Carouselle {
        .Carouselle-1 {
          display: flex;
          justify-content: space-around;
          align-items: center;

          .acc-affiche-1 {
            transform: rotate(7deg);
          }

          .acc-affiche-2 {
            transform: rotate(-7deg);
          }
          img {
            width: 22%;
          }
          .text-evenements {
            height: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            h1 {
              font-family: var(--primary-font);
              font-size: 2.4rem;
              padding: 20px;
              border-bottom: 1px solid white;
            }
            p {
              font-family: var(--secondary-font);
              font-style: italic;
              font-size: 2rem;
              line-height: 30px;
              padding: 20px;
            }
          }
        }
        .Carouselle-2 {
          h1 {
            font-family: var(--primary-font);
            font-size: 2.4rem;
            padding: 20px;
            border-bottom: 1px solid white;
          }
          p {
            font-family: var(--secondary-font);
            font-style: italic;
            font-size: 2rem;
            line-height: 30px;
            padding: 20px;
          }
          img {
            width: 22%;
          }
        }
        .Carouselle-3 {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          .bloc-mario {
            width: 35%;
            display: flex;
            justify-content: end;
            .mario {
              width: 70%;
            }
          }

          .text-contact {
            padding: 20px;
            width: 65%;
            text-align: left;
            h1 {
              font-family: var(--primary-font);
              font-size: 2.4rem;
              padding-bottom: 20px;
              border-bottom: 1px solid white;
            }
            p {
              font-family: var(--secondary-font);
              font-style: italic;
              font-size: 2rem;
              line-height: 30px;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }

  .presentation {
    padding: 10px;
    width: 100%;
    display: flex;
    background-color: #003d48b4;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    .titre-texte {
      width: 50%;
      padding-left: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        padding: 20px;
        font-family: var(--primary-font);
        color: var(--secondary-color);
        font-size: 3rem;
        text-shadow: 1px 1px 2px black;
      }
      p {
        padding: 20px;
        font-family: var(--secondary-font);
        font-style: italic;
        text-shadow: 1px 1px 2px black;
        line-height: 30px;
      }
    }

    .metal-texte {
      width: 50%;
      display: flex;
      justify-content: end;
      align-items: end;
      padding-right: 20px;
      gap: 5px;

      p {
        display: flex;
        align-items: end;
        padding-bottom: 30px;
        font-family: var(--primary-font);
      }
    }
    a {
      color: white;
      text-decoration: none;
    }
  }

  .cards {
    width: 100%;

    display: flex;
    justify-content: space-around;

    a {
      display: flex;
      color: white;
      text-decoration: none;
    }

    .card-global {
      max-width: 300px;
      position: relative;
      background-color: #000000cb;
      border: 1px solid white;
      cursor: pointer;
      display: flex;
      flex-direction: column;

      p {
        background-color: black;
        width: 100%;
        padding: var(--spacing);
        font-family: var(--primary-font);
        text-align: center;
      }
    }

    .cards-1 {
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }

    .cards-2 {
      display: flex;
      flex-direction: column;
      align-items: center;

      .Image-lot {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        height: 100%;
        img:nth-child(1) {
          width: 70%;
        }
        img {
          width: 50%;
        }
      }
    }
    .cards-3 {
      display: flex;
      align-items: end;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
  ::-webkit-scrollbar {
  width: 8px; /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-thumb {
  background-color: #003d48b4; /* Couleur de la poignée de la barre de défilement */
  border-radius: 5px; /* Coins arrondis de la poignée */
}
}


