.container-games {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  min-height: 75vh;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.801);
  padding: 2%;
  border-radius: 15px;
}

.containerGames {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 50px;

  .secondimage {
    height: 50vh;
  }
}

.games h2 {
  padding: 2% 5%;
  font-family: var(--primary-font);
  font-size: 5rem;
  margin-bottom: 20px;
}

.descriptionGames {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 5%;
  gap: 15px;
  width: 500px;
  height: 50vh;
  overflow: auto;
  font-family: var(--secondary-font);

  img {
    cursor: pointer;
    height: 75px;
    width: auto;
    top: 5px;
    right: 5px;
    position: absolute;
  }
}

.descGames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: var(--primary-font);
  color: #fbb169;
  font-size: 2rem;
  width: 80%;
  max-width: 900px;
  gap: 50px;
}

.containerGames2 {
  display: flex;
  align-items: center;
  .retourpicture {
    display: flex;
    align-items: center;
    background: transparent;
    height: 100px;
    border: none;
    cursor: pointer;
  }
}

.containerGames2 {
  display: flex;
  align-items: center;
}

.secondimage {
  height: auto;
  object-fit: contain;
}

.containerGames3 {
  display: flex;
}

.retourpicture {
  display: flex;
  align-items: center;
  background: transparent;
  height: 50px;
  border: none;
  cursor: pointer;
  ::-webkit-scrollbar {
    cursor: pointer;
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--fourth-color);
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  .containerGames {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .containerGames3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .secondimage {
    width: 125%;
    height: auto;
  }

  .descriptionGames {
    width: 125%;
    position: relative;
    max-width: none;
    height: auto;
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;

    img {
      height: 10px;
      width: auto !important;
      top: 5px;
      right: 10px;
      position: absolute;
    }
  }
}

@media screen and (max-width: 1024px) {
  .containerGames {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .containerGames3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .secondimage {
    width: 100%;
  }

  .descriptionGames {
    position: relative;
    height: auto;
    padding: 10px;
    margin: 0;
    width: 125%;

    img {
      height: 50px;
      width: auto !important;
      top: 5px;
      right: 10px;
      position: absolute;
    }
  }
}

@media screen and (max-width: 1620px) {
  .containerGames {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .containerGames3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .secondimage {
    width: 125%;
    height: auto;
  }

  .descriptionGames {
    width: 125%;
    position: relative;
    max-width: none;
    height: auto;
    padding: 30px;
    margin: 0;

    img {
      height: 75px;
    }
  }
}
