.profileAdmin {
  position: relative;
  display: flex;
  height: 79vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 9%;

  .avatar {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #00212a;

    img {
      width: 70%;
      height: 70%;
    }
  }
  .adminLayout {
    border: solid 2px white;
    width: 50vw;
    height: 55vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.61);
    .buttonsChoice {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding: 8% 4% 8% 4%;
      gap: 3vh;

      a {
        background-color: #00212a;
        color: var(--fourth-color);
        padding: 1% 2% 1% 2%;
        height: 6vh;
        width: 15vw;
        border-radius: 5px;
        border: solid 1px white;
        font-family: var(--secondary-font);
        font-size: 1.8rem;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &.active {
          color: var(--secondary-color);
        }
        img {
          display: none;
        }
      }
    }
    .displayChoice {
      border: 2px solid white;
      width: 50%;
      height: 70%;
      border-radius: 5px;
      background-color: #00212a;
      .displaycenter {
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .profileAdmin {
    .avatar {
      height: 150px;
      width: 150px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .profileAdmin {
    flex-wrap: wrap;

    .avatar {
      height: 100px;
      width: 100px;
    }

    .adminLayout {
      flex-direction: column;
      width: 75vw;
      height: 65vh;

      .buttonsChoice {
        flex-direction: row;
        height: initial;
        padding: 8% 4% 4% 4%;

        a {
          width: 10vw;
          text-align: center;
          img {
            display: initial;
            width: 55%;
          }
          p {
            display: none;
          }
        }
      }

      .displayChoice {
        width: 80%;
      }
    }
  }
  @media screen and (max-width: 700px) {
    .profileAdmin {
      .avatar {
        top: 5%;
      }
      .adminLayout {
        width: 90vw;
        .buttonsChoice {
          padding: 8% 0 4% 0;
          gap: 1vh;
          a {
            img {
              width: 80%;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    .profileAdmin {
      .adminLayout {
        .buttonsChoice {
          a {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
