.adminLots {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5% 3% 0 5%;
  gap: 5%;

  h2 {
    font-family: var(--primary-font);
    font-size: 2rem;
    color: var(--fourth-color);
  }
  .allLots {
    width: 100%;
    display: flex;
    gap: 3%;
    padding: 1%;

    .itemServices {
      width: 25%;
      height: 8vh;
      border: 2px solid white;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      color: var(--fourth-color);
      font-family: var(--primary-font);
      font-size: 8rem;
      position: relative;

      .lots {
        height: 100%;
      }
    }
    .suppr {
      position: absolute;
      top: -15px;
      right: -7px;
      height: 15px;
      cursor: pointer;
    }
    .addBox {
      cursor: pointer;
      width: 5vw;
      height: 8vh;

      .add {
        height: 45%;
        width: 45%;
      }
    }
  }

  .podium {
    display: flex;
    color: white;
    justify-content: space-around;
    width: 100%;
    height: 40%;

    .firstPlace,
    .secondPlace,
    .thirdPlace {
      display: flex;
      flex-direction: column;
      align-items: center;
      .placePlayer {
        font-size: 1.5rem;
        font-family: var(--secondary-font);
        padding-bottom: 20%;
      }
    }

    .itemServices {
      width: 100%;
      height: 60%;
      border: 2px solid white;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      color: var(--fourth-color);
      font-family: var(--primary-font);
      font-size: 8rem;
      position: relative;
      .lots {
        height: 100%;
      }
    }
    .suppr {
      position: absolute;
      top: -15px;
      right: -7px;
      height: 15px;
      cursor: pointer;
    }
    .addBox {
      cursor: pointer;
      width: 4vw;
      height: 60%;

      .add {
        height: 50%;
        width: 45%;
      }
    }
  }
}
