.adminUploadGame {
  background-color: #ffffff00;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  z-index: 3;
  padding-top: 2%;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  align-items: center;

  .upload-form {
    border-radius: 15px;
    border: 2px solid white;
    width: 40vw;
    height: 80%;
    background-color: rgba(0, 33, 42, 0.61);
    display: flex;
    flex-direction: column;

    .header-container {
      text-align: center;
      width: 100%;
      padding-top: 2%;

      h1 {
        font-size: 30px;
        color: #fbb169;
        font-family: var(--primary-font);
      }
    }

    .upload-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-top: 2%;
      gap: 10px;

      .uploadp1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        .actif-real {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          padding: 10px;
          p {
            padding: 5px;
          }
          .actif {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30%;
            cursor: pointer;
          }
          .inputSelect input {
            display: none;
          }
          .inputSelect svg {
            overflow: visible;
          }

          .path {
            fill: none;
            stroke: white;
            stroke-width: 6;
            stroke-linecap: round;
            stroke-linejoin: round;
            transition:
              stroke-dasharray 0.5s ease,
              stroke-dashoffset 0.5s ease;
            stroke-dasharray: 241 9999999;
            stroke-dashoffset: 0;
          }

          .inputSelect input:checked ~ svg .path {
            stroke-dasharray: 70.5096664428711 9999999;
            stroke-dashoffset: -262.2723388671875;
          }

          .real {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30%;
            input {
              width: 100%;
            }
          }
        }
        p {
          font-weight: bold;
          text-align: center;
          width: 100%;
          font-family: var(--secondary-font);
          font-weight: 100;
          font-size: 1.8rem;
          color: #ffffff;
        }

        input {
          font-family: var(--primary-font);
          padding: 5px;
          font-size: 15px;
          color: white;
          background-color: rgba(0, 61, 72, 0.9);
          border: 1px solid #5caab8;
          border-radius: 5px;
          width: 15vw;
          height: 30px;
        }
      }

      .uploadp2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        input::file-selector-button {
          font-weight: bold;
          background-color: rgba(0, 0, 0, 0.61);
          color: rgba(255, 255, 255, 0.683);
          padding: 5px 10px 5px 10px;
          border: thin solid grey;
          cursor: pointer;
        }
        .label-file {
          cursor: pointer;
          color: #00b1ca;
          font-weight: bold;
          font-size: 3rem;
        }
        .label-file:hover {
          color: #25a5c4;
        }

        .input-file {
          display: none;
        }
        button {
          border: 1px solid rgba(255, 255, 255, 0.486);

          background-color: rgba(0, 0, 0, 0.61);
          color: rgba(255, 255, 255, 0.683);
          cursor: pointer;
          font-size: 1.5rem;
          color: var(--secondary-color);
          width: 30%;
          height: 2.5vh;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 0.8vw;
            height: 1.5vh;
          }
        }

        .btn-inscription {
          border: 1px solid rgba(255, 255, 255, 0.486);
          background-color: rgba(0, 0, 0, 0.61);
          color: rgba(255, 255, 255, 0.683);
          cursor: pointer;
          font-size: 1.5rem;
          color: var(--secondary-color);
          width: 40%;
          height: 2.5vh;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1095px) {
  .adminUploadGame {
    .upload-form {
      width: 60vw;
      .upload-container {
        .uploadp1 {
          input {
            width: 40%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .adminUploadGame {
    .upload-form {
      width: 80vw;
    }
  }
}

@media screen and (max-width: 670px) {
  .adminUploadGame {
    .upload-form {
      width: 90vw;
      .upload-container {
        .uploadp1 {
          input {
            width: 50%;
          }
          .actif-real {
            .actif {
              width: 30%;
            }
            .real {
              width: 30%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .adminUploadGame {
    .upload-form {
      .header-container {
        h1 {
          font-size: 2.5rem;
        }
      }
      .upload-container {
        .uploadp1 {
          .actif-real {
            .actif {
              width: 40%;
            }
            .real {
              width: 40%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .adminUploadGame {
    .upload-form {
      justify-content: center;
      .header-container {
        h1 {
          font-size: 2rem;
        }
      }
      .upload-container {
        .uploadp2 {
          .btn-inscription {
            width: 70%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .adminUploadGame {
    .upload-form {
      .upload-container {
        .uploadp1 {
          input {
            width: 70%;
          }
          p {
            font-size: 1.4rem;
          }
        }

        .uploadp2 {
          .btn-inscription {
            width: 70%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .adminUploadGame {
    .upload-form {
      height: 75%;
      .header-container {
        h1 {
          font-size: 1.8rem;
        }
      }
    }
  }
}
