.adminUploadLot {
  background-color: #ffffff00;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  z-index: 3;
  padding-top: 8%;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);

  .upload-form {
    border-radius: 15px;
    border: 2px solid white;
    width: 40vw;
    height: 28vw;
    background-color: rgba(0, 33, 42, 0.61);
  }

  .header-container {
    text-align: center;
    width: 100%;
    padding-top: 8%;

    h1 {
      font-size: 30px;
      color: #fbb169;
      font-family: var(--primary-font);
    }
  }

  .upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 8%;
    width: 100%;
    height: 60%;

    p {
      font-weight: bold;
      text-align: center;
      width: 100%;
      font-family: var(--secondary-font);
      font-size: 18px;
      color: #ffffff;
    }

    input {
      font-family: var(--primary-font);
      padding: 5px;
      font-size: 15px;
      color: white;
      background-color: rgba(0, 61, 72, 0.9);
      border: 1px solid #5caab8;
      border-radius: 5px;
      width: 15vw;
      height: 45px;
    }

    .btn-inscription {
      cursor: pointer;
      font-family: var(--primary-font);
      color: #fbb169;
      font-size: 18px;
      font-weight: bold;
      background-color: rgba(0, 61, 72, 1);
      border: 1px solid white;
      width: 8vw;
      height: 45px;
      border-radius: 5px;
    }
  }
}
