.container-connexion {
  background-color: #ffffff00;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: 3;
  padding-top: 8%;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);

  .connexion-form {
    border-radius: 15px;
    border: 2px solid white;
    width: 22vw;
    height: 28vw;
    background-color: rgba(0, 33, 42, 0.61);
  }

  .header-container {
    text-align: center;
    width: 100%;
    padding-top: 8%;

    .GhostLogin {
      width: 80px;
    }

    h1 {
      font-size: 30px;
      color: #fbb169;
      font-family: var(--primary-font);
    }
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 8%;
    width: 100%;
    height: 60%;
  }
  p {
    font-weight: bold;
    font-family: var(--secondary-font);
    font-size: 18px;
    color: #ffffff;
    text-align: center;
  }

  input {
    font-family: var(--primary-font);
    padding: 5px;
    font-size: 18px;
    color: white;
  }

  .pseudo,
  .motdepasse {
    background-color: rgba(0, 61, 72, 0.9);
    border: 1px solid #5caab8;
    border-radius: 5px;
    width: 15vw;
    height: 45px;
  }
  .mdp-container {
    position: relative;
    display: flex;
    align-items: center;
    .mdp {
      width: 25px;
      position: absolute;
      right: 10px;
      cursor: pointer;
    }
  }
  .btn-connexion {
    cursor: pointer;
    font-family: var(--primary-font);
    color: #fbb169;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 61, 72, 1);
    border: 1px solid white;
    width: 8vw;
    height: 45px;
    border-radius: 5px;
  }
}

.body-no-scroll {
  overflow: hidden;
}

// RESPONSIVE

@media screen and (max-width: 1400px) {
  .container-connexion {
    
    .connexion-form {
      width: 30vw;
      height: 35vw;
    }

    .pseudo,
    .motdepasse {
      width: 20vw;
    }

    .btn-connexion {
      width: 12vw;
    }
  }
}
@media screen and (max-width: 1100px) {
  .container-connexion {
    .connexion-form {
      width: 35vw;
      height: 40vw;
    }

    .pseudo,
    .motdepasse {
      width: 25vw;
    }

    .btn-connexion {
      width: 15vw;
    }
  }
}

@media screen and (max-width: 900px) {
  .container-connexion {
    .connexion-form {
      width: 40vw;
      height: 50vw;
    }
    .pseudo,
    .motdepasse {
      width: 30vw;
    }

    .btn-connexion {
      width: 20vw;
    }
  }
}
@media screen and (max-width: 750px) {
  .container-connexion {
    
    .connexion-form {
      width: 45vw;
      height: 60vw;
    }
    .pseudo,
    .motdepasse {
      width: 35vw;
    }

    .btn-connexion {
      width: 25vw;
    }
  }
}
@media screen and (max-width: 600px) {
  .container-connexion {
    padding-top: 30%;
    .connexion-form {
      width: 60vw;
      height: 80vw;
    }
    .pseudo,
    .motdepasse {
      width: 45vw;
    }

    .btn-connexion {
      width: 30vw;
    }
  }
}
@media screen and (max-width: 475px) {
  .container-connexion {
    
    padding-top: 50%;
    .connexion-form {
      width: 80vw;
      height: 110vw;
    }
    .pseudo,
    .motdepasse {
      width: 65vw;
    }

    .btn-connexion{
      width: 40vw;
    }
  }
}
