.detailsUserProfile {
  display: flex;
  flex-direction: column;
  .closeButton {
    cursor: pointer;
    align-self: flex-end;
    padding: 2%;
  }
  .playerDetails {
    display: flex;
    flex-direction: column;
    padding: 0 2% 0 2%;
    h1 {
      font-family: var(--primary-font);
      color: white;
      text-align: center;
      font-size: 3rem;
    }

    h2 {
      padding: 1%;
      font-family: var(--secondary-font);
      color: var(--fourth-color);
    }
    .lotsWin {
      display: flex;
      align-items: center;
      overflow-x: auto;
      width: 100%;
      height: 10vh;
      gap: 5%;

      .lotsImages {
        position: relative;
        height: 100%;

        .imgLots {
          height: 80%;
          border: none;
          object-fit: contain;
        }
        .suppr {
          position: absolute;
          cursor: pointer;
        }
      }
    }
    .tickets {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5%;
      width: 100%;
      height: 40%;

      .detailsTickets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
        img {
          width: 4vw;
        }
        p {
          color: white;
          font-size: 2rem;
        }
      }

      .btn-class-name {
        --primary: 255, 90, 120;
        --secondary: 150, 50, 60;
        width: 40px;
        height: 30px;
        border: none;
        cursor: pointer;
        outline: 5px solid rgb(var(--primary), 0.5);
        border-radius: 100%;
        position: relative;
        transition: 0.3s;

        span {
          font-size: 3rem;
          font-family: (--primary-font);
          font-weight: bold;
        }
      }

      .btn-class-name .back {
        background: rgb(var(--secondary));
        border-radius: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      .btn-class-name .front {
        background: linear-gradient(
          0deg,
          rgba(var(--primary), 0.6) 20%,
          rgba(var(--primary)) 50%
        );
        border-radius: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-15%);
        transition: 0.15s;
        color: rgb(var(--secondary));
      }

      .btn-class-name:active .front {
        transform: translateY(0%);
        box-shadow: 0 0;
      }
    }
  }
}
