.container-user {
  font-family: var(--secondary-font);
  border: 1px solid red;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    text-align: center;
    font-family: var(--primary-font);
    padding: 3%;
    font-size: 3rem;
  }
  .information-user {
    border: 3px solid blue;
    padding: 10%;
    

    p {
      font-size: 2rem;
    }
  }

  .btn-profil {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    .deleteprofil {
        width: 15vh;
        height: 5vh;
      border: 2px solid yellow;
    }
  }
}
