.container-user {
  font-family: var(--secondary-font);
  height: 100%;
  display: flex;
  flex-direction: column;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 4%;
    img {
      width: 10%;
      cursor: pointer;
    }
    h1 {
      font-family: var(--primary-font);
      font-size: 3rem;
      color: var(--fourth-color);
    }
  }
  .information-user,
  .edit-user {
    display: flex;
    flex-direction: column;
    height: 20vh;

    span {
      color: var(--fourth-color);
    }
    p {
      padding: 4% 0% 0% 15%;
      font-size: 2rem;
      color: white;
    }

    .alert-deleted {
      width: 100%;

      .text-alert {
        font-size: 1.8rem;
        font-family: var(--secondary-font);
        padding: 0;
        padding: 10px;
        text-align: center;
      }
      .button-YN {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 3px;
        button {
          width: 33%;
          padding: 8px;
          background-color: rgba(0, 0, 0, 0.61);
          border: none;
          font-family: var(--primary-font);
          color: var(--secondary-color);
          cursor: pointer;
          border-radius: 5px;
          border: 1px solid #f1f1f17c;
        }
      }
    }

    .input-edit {
      background-color: var(--third-color);
      color: white;
      font-size: 1.5rem;
      font-family: var(--secondary-font);
      border-radius: 5px;
      border: 2px solid var(--fourth-color);
      padding: 3%;
      width: 25vh;
      height: 3.5vh;
    }
    .mdp-container {
      position: relative;
      display: flex;
      align-items: center;
      .mdp {
        width: 25px;
        position: absolute;
        right: 100px;
        cursor: pointer;
      }
    }
  }
  .btn-profil {
    display: flex;
    justify-content: center;
    padding-top: 3%;

    .delete-user {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.683);
      font-family: var(--secondary-font);
      border: none;
      border-radius: 6px;
      width: 20vh;
      height: 5vh;
      background-color: rgba(0, 0, 0, 0.61);
      font-size: 1.5rem;
      font-style: italic;
    }
  }

  .btn-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;

    button {
      background-color: rgba(0, 0, 0, 0.61);
      border-radius: 6px;
      border: none;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        gap: 10px;

        cursor: pointer;
        width: 28vh;
        height: 5vh;

        p {
          padding: 0;
          color: var(--secondary-color);
          font-weight: bold;
          font-size: 1.8rem;
          font-family: var(--primary-font);
        }
        img {
          width: 16%;
        }
      }
    }
  }

  .edit-profil {
    display: flex;
    justify-content: center;
    padding-top: 3%;
  }

  .saveprofil {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.683);
    font-family: var(--secondary-font);
    border: none;
    border-radius: 6px;
    width: 28vh;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.61);
    font-size: 1.8rem;
    font-style: italic;
  }
}
