.guitarHero {
  background: url("/images/Jeux_ligne/GuitarHero/guitar2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 35px;
  width: 100%;
  height: 100%;

  .guitarHeroGame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .infosJeu {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      padding: 5% 5% 5% 0;
      gap: 3vh;
      width: 100%;
      img {
        width: 1vw;
        cursor: pointer;
      }
    }
    .spaceArrows {
      display: flex;
      justify-content: center;
      padding-top: 5%;
      margin-top: 2%;
      width: 100%;
      height: 98%;

      .emptyDiv {
        min-width: 3vw;
        display: inline-block;
      }
      .arrowBlue,
      .arrowYellow,
      .arrowGreen,
      .arrowRed {
        width: 3vw;
        animation-name: fall;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
    }

    @keyframes fall {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(450%);
      }
    }
  }
  .gameOverGuitarHero {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    h2 {
      font-size: 6rem;
    }
    p {
      padding-bottom: 20%;
    }
    button {
      padding: 2% 5% 2% 5%;
      border-radius: 5px;
      border: 1px solid black;
      background-color: var(--secondary-color);
      font-weight: bold;
      font-family: var(--third-font);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1400px) {
  .guitarHero {
    .guitarHeroGame {
      .infosJeu {
        padding: 2% 5% 2% 0;
      }
      @keyframes fall {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(400%);
        }
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  .guitarHero {
    .guitarHeroGame {
      .spaceArrows {
        .emptyDiv {
          min-width: 5vw;
        }
        .arrowBlue,
        .arrowYellow,
        .arrowGreen,
        .arrowRed {
          width: 5vw;
        }
      }
      @keyframes fall {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(375%);
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .guitarHero {
    .guitarHeroGame {
      .spaceArrows {
        .emptyDiv {
          min-width: 6vw;
        }
        .arrowBlue,
        .arrowYellow,
        .arrowGreen,
        .arrowRed {
          width: 6vw;
        }
      }
      .infosJeu {
        img {
          width: 2vw;
        }
      }
      @keyframes fall {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(500%);
        }
      }
    }
    .gameOverGuitarHero {
      h2 {
        font-size: 3rem;
        padding-top: 10%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .guitarHero {
    .guitarHeroGame {
      .spaceArrows {
        .emptyDiv {
          min-width: 8vw;
        }
        .arrowBlue,
        .arrowYellow,
        .arrowGreen,
        .arrowRed {
          width: 8vw;
        }
      }
      .infosJeu {
        font-size: 1.5rem;
        img {
          width: 3vw;
        }
      }
      @keyframes fall {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(550%);
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .guitarHero {
    .guitarHeroGame {
      .spaceArrows {
        .emptyDiv {
          min-width: 10vw;
        }
        .arrowBlue,
        .arrowYellow,
        .arrowGreen,
        .arrowRed {
          width: 10vw;
        }
      }
      .infosJeu {
        font-size: 1.5rem;
        img {
          width: 5vw;
        }
      }
      @keyframes fall {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(550%);
        }
      }
    }
    .gameOverGuitarHero {
      h2 {
        font-size: 2rem;
        padding-top: 20%;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}
