.container-MeilleursScore {
  height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .user-name {
    font-size: 1.4rem;
    font-family: var(--primary-font);
    color: var(--fourth-color);
    text-align: center;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;

    h1 {
      padding: 0 0 0 5%;
    }
  }
  .liste-jeux-points {
    display: flex;
    align-items: center;
    color: white;
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    flex: 1;
    font-weight: bold;
    .nom-jeux {
      width: 70%;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      padding: 10px 10px 10px 30px;
    }

    .gl-trait {
      width: 10%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .trait {
        width: 3px;
        background-color: white;
        height: 55%;
        border-radius: 10px;
      }
    }

    .user-point {
      width: 30%;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      color: var(--secondary-color);
      padding: 10px 10px 10px 30px;
    }
  }
  .total-points {
    padding: 10px;
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    text-align: center;
    color: white;
    font-weight: bold;
  }
  .btn-qr-code {
    display: none;
    .btn-score {
    }
  }
}

@media screen and (max-width: 1395px) {
  .container-MeilleursScore {
    .user-name {
      font-size: 1.2rem;
    }
    .liste-jeux-points {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .container-MeilleursScore {
    .user-name {
      font-size: 1em;
    }
    .liste-jeux-points {
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 500px) {
  .container-MeilleursScore {
    .user-name {
      font-size: 1em;
      img {
        width: 8vw;
      }
    }
    .liste-jeux-points {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .container-MeilleursScore {
    .user-name {
      font-size: 1.2rem;
    }
    .liste-jeux-points {
      font-size: 1.5rem;
    }

    .btn-qr-code {
      display: initial;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5%;
      .btn-score {
        border: 2px solid rgba(255, 255, 255, 0.486);
        font-family: var(--secondary-font);
        font-weight: 500;
        border-radius: 50px;
        padding: 2vw;
        background-color: var(--fourth-color);
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .container-MeilleursScore {
    .user-name {
      font-size: 1em;
      img {
        width: 9vw;
      }
    }
    .liste-jeux-points {
      font-size: 1.3rem;
    }
  }
}
