.container-jfav {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #00212a;
  height: 100%;

  .pseudo-joueur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #5caab8;
    font-size: 1.4rem;
    font-family: "Orbitron";
    padding: 5%;

    h1 {
      padding: 0 0 0 5%;
    }

    img {
      width: 15%;
    }
  }

  .jeux-favoris {
    color: #fff;
    font-family: "Montserrat";
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    row-gap: 25px;
  }
}
