.container-mle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #00212a;

  .pseudo-joueur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #5caab8;
    font-size: 1rem;
    font-family: "Orbitron";
    padding: 20px;
  }
}
