.container-jfav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #00212a;

  .pseudo-joueur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #5caab8;
    font-size: 1rem;
    font-family: "Orbitron";
    padding: 20px;

    h1 {
      padding: 20px;
    }

    img {
      width: 15%;
    }
  }

  .jeux-favoris {
    width: 100%;
    height: 90%;
    color: #fff;
    font-family: "Montserrat";
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    padding-left: 30px;
    row-gap: 25px;
  }
}
