.navBar {
  width: 100%;
  background-color: #1d1d1d41;
  border-bottom: 1px solid white;

  .Int-navBar {
    display: flex;
    justify-content: space-between;

    .nav-pt-1 {
      width: calc(100vw / 3);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: var(--spacing);
      flex: 1;

      a {
        text-decoration: none;
        color: white;
        font-family: var(--primary-font);
        font-size: 1.8rem;
        font-weight: 400;

        &.active {
          color: var(--secondary-color);
        }
      }
    }

    .logo {
      flex: 1;
      display: flex;
      justify-content: center;
      padding: 1%;
      img {
        width: 25%;
      }
    }

    .nav-pt-2 {
      width: calc(100vw / 3);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 5%;
      justify-content: end;
      flex: 1;

      p {
        color: white;
        font-family: var(--primary-font);
        font-size: 1.8rem;
        padding: var(--spacing);
        padding-right: 60px;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
  .menuBurger {
    visibility: hidden;
  }
}

@media screen and (max-width: 1440px) {
  .navBar {
    .Int-navBar {
      .logo {
        padding: 1%;
        img {
          width: 25%;
        }
      }
      .nav-pt-2 {
        padding-right: 10px;
        p {
          padding-right: 10px;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navBar {
    .Int-navBar {
      .logo {
        padding: 1%;
        img {
          width: 40%;
        }
      }
      .nav-pt-2 {
        p {
          padding-right: 10px;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .navBar {
    .menuBurger {
      visibility: visible;
    }

    .Int-navBar {
      flex-direction: row-reverse;
      .logo {
        padding: 1%;
        img {
          width: 15vw;
        }
      }
      .nav-pt-2 {
        p {
          font-size: 1.6rem;
          padding: var(--spacing);
        }
      }
    }
  }
  .nav-pt-1 {
    width: 0;
    a {
      display: none;
    }
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 25px;
  }

  .bm-burger-bars {
    background: white;
    border-radius: 5px;
  }

  .bm-cross {
    background: white;
  }

  .bm-menu {
    background-color: rgba(0, 61, 72, 0.9);
  }

  .bm-item-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 5vh;

    a {
      text-decoration: none;
      color: white;
      font-size: 1.7rem;
      font-style: italic;
      font-family: var(--secondary-font);
      padding-left: 8%;
    }
  }
}


@media screen and (max-width: 768px) {
  .navBar {
    .Int-navBar {
      flex-direction: row-reverse;

      .logo {
        img {
          width: 40%;
        }
      }
      .nav-pt-2 {
        gap: 10px;
        justify-content: start;
        p {
          padding-right: 0px;
          padding-left: var(--spacing);
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .navBar {
    .Int-navBar {
      flex-direction: row-reverse;
      .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        right: 36px;
        top: 30px;
      }
      .logo {
        img {
          width: 100%;
        }
      }
      .nav-pt-2 {
        gap: 0;
        justify-content: start;
        p {
          padding-right: 10px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .navBar {
    .Int-navBar {
      flex-direction: row-reverse;
      .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        right: 36px;
        top: 20px;
      }
      .logo {
        padding: 1%;
        img {
          width: 100%;
        }
      }
      .nav-pt-2 {
        gap: 0;
        justify-content: start;
        p {
          padding-right: 10px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

