.presentationReservation {
  display: flex;
  flex-direction: column;
  width: 100%;
    height: 80vh;
    background-color: black;
    opacity: 0.8;
    padding : 2%;
    border-radius: 15px;
    margin-top: 2%;

  .descReservation {
    height: 50vh;
    width: 80%;

    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .bannerReservation {
    width: 80vw;
    align-self: center;
    border: 1px solid white;
    border-radius: 5px;
  }
}
