.presentationEvents {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  background-color: black;
  opacity: 0.8;
  padding: 2%;
  border-radius: 15px;
  margin-top: 2%;

  .descEvents {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;

    .textEvents {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 55vw;
    }

    .imgEvents {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 45vw;

      img {
        height: 35vh;
        border: 1px solid white;
        border-radius: 5px;
      }
    }
  }

  .bannerEvents {
    margin: auto;
    width: 90vw;
    height: 40vh;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 5px;
  }
}
