.presentationCrew {
  display: flex;
  justify-content: space-around;
  min-height: 80vh;
  background-color: black;
  opacity: 0.8;
  padding: 2%;
  border-radius: 15px;
  margin-top: 2%;

  .descCrew {
    min-height: 100%;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
  }

  .imgCrew {
    height: 100%;
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5vh 1.5vw;
    padding : 3%;

    img {
      height: 30vh;
      border-radius: 5px;
      border: 1px solid white;
    }
  }
}
