.spaces {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  background-color: rgba(0, 0, 0, 0.801);
  padding: 2%;
  border-radius: 15px;
  font-size: 25px;

  .descSpaces {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    width: 80%;
    text-align: justify;
    padding-left: 4%;
  }

  .imgSpaces {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;

    img {
      height: 25vh;
      border-radius: 10px;
      border: 1px solid white;
      margin: 10px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .spaces {
    .descSpaces {
      order: 2;
    }

    .imgSpaces1 {
      order: 1;
    }

    .imgSpaces2 {
      order: 3;
    }
  }
}
