.transfer {
  width: 90vw;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 2%;
  color: white;

  .transferPlayers {
    border: 2px solid white;
    border-radius: 15px;
    width: 85%;
    height: 97%;
    display: flex;
    justify-content: center;
    align-items: center;

    .transferPlayersContainer {
      border: 1px solid white;
      border-radius: 15px;
      width: 87%;
      height: 80%;
      background-color: #00212a;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;

      .tubePart2 {
        font-family: var(--primary-font);
        width: 87%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2vh;
        h1 {
          font-size: 3rem;
        }

        .symbolExchange {
          animation-name: rotation;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          width: 8%;
        }
      }
      .allanimation {
        display: flex;
        width: 100%;
        height: 50%;
        justify-content: space-around;
        align-items: center;
        .tubeContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 5vh;
          height: 50%;
          width: 100%;
          .tubePart1 {
            border: 1px solid white;
            width: 70%;
            height: 40%;
            border-left: none;
            border-right: none;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .lotContainer {
              position: absolute;
              height: 100px;
              width: 100px;
              border: 1px solid white;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: var(--primary-color);
              img {
                width: 80%;
              }
            }
            .position1 {
              bottom: -50%;
              left: -3%;
              animation-name: exchangeLeft;
              animation-duration: 10s;
              animation-iteration-count: infinite;
            }
            .position2 {
              bottom: -60%;
              right: -3%;
              animation-name: exchangeRight;
              animation-duration: 10s;
              animation-iteration-count: infinite;
            }
          }
        }
        .avatarAndNameContainer {
          display: flex;
          flex-direction: column;
          width: 500px;
          height: 500px;
          justify-content: center;
          align-items: center;
          gap: 1vh;
          padding: 2%;

          .avatarContainer {
            overflow: hidden;
            height: 150px;
            width: 150px;
            border: 1px solid white;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
              width: 80%;
            }
          }
          p {
            color: var(--fourth-color);
            font-size: 2rem;
            font-family: var(--primary-font);
          }
        }
      }

      .wordsContainer {
        position: absolute;
        width: 20%;
        bottom: 47%;
        left: 10%;
        img {
          width: 100%;
        }
        p {
          position: absolute;
          color: black;
          bottom: 35%;
          left: 3%;
          font-family: var(--secondary-font);
          font-size: 2rem;
          text-align: center;
        }
      }

      .wordsContainer2 {
        position: absolute;
        width: 20%;
        bottom: 47%;
        right: 10%;

        img {
          width: 100%;
        }
        p {
          position: absolute;
          color: black;
          bottom: 35%;
          left: 3%;
          font-family: var(--secondary-font);
          font-size: 2rem;
          text-align: center;
        }
      }
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes exchangeLeft {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(28vw, 0);
    }
  }
  @keyframes exchangeRight {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-28vw, 0);
    }
  }

  @media screen and (max-width: 1400px) {
    @keyframes exchangeLeft {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24vw, 0);
      }
    }
    @keyframes exchangeRight {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-24vw, 0);
      }
    }
  }

  @media screen and (max-width: 1400px) {
    @keyframes exchangeLeft {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24vw, 0);
      }
    }
    @keyframes exchangeRight {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-24vw, 0);
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .transferPlayers {
      .transferPlayersContainer {
        justify-content: space-around;
        .allanimation {
          flex-direction: column;
          height: 70%;
          .tubeContainer {
            flex-direction: row;
            gap: 10vw;
            height: 60%;
            width: 20vw;
            justify-content: space-around;
            .tubePart1 {
              height: 100%;
              flex-direction: column;
              justify-content: space-around;
              border-left: 1px solid white;
              border-right: 1px solid white;
              border-top: none;
              border-bottom: none;

              .lotContainer {
                width: 80px;
                height: 80px;
              }

              .position1 {
                bottom: 50%;
                left: -25%;
              }
              .position2 {
                bottom: -20%;
                right: -25%;
              }
            }
          }
          .avatarAndNameContainer {
            width: 400px;
          height: 400px;
            .avatarContainer {
              height: 70px;
              width: 70px;
            }
            p {
              color: var(--fourth-color);
              font-size: 2rem;
              font-family: var(--primary-font);
            }
          }
        }
        .wordsContainer {
          width: 25%;
          bottom: 55%;
          left: 60%;

          p {
            bottom: 35%;
            left: 3%;
            font-size: 2rem;
          }
        }

        .wordsContainer2 {
          width: 25%;
          bottom: 10%;
          right: 70%;
          p {
            bottom: 35%;
            left: 3%;
            font-size: 2rem;
          }
        }
      }
    }
    @keyframes exchangeLeft {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, 12vh);
      }
    }
    @keyframes exchangeRight {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, -12vh);
      }
    }
  }

  @media screen and (max-width: 900px) {
    .transferPlayers {
      .transferPlayersContainer {
        .allanimation {
          .tubeContainer {
            .tubePart1 {
              .position1 {
                bottom: 50%;
                left: -50%;
              }
              .position2 {
                bottom: -20%;
                right: -50%;
              }
            }
          }
          .avatarAndNameContainer {
            p {
              font-size: 1.5rem;
            }
          }
        }
        .wordsContainer {
          p {
            font-size: 1.5rem;
          }
        }

        .wordsContainer2 {
          p {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 700px) {
    .transferPlayers {
      .transferPlayersContainer {
        .allanimation {
          .tubeContainer {
            .tubePart1 {
              .lotContainer {
                height: 60px;
                width: 60px;
              }
              .position1 {
                bottom: 70%;
                left: -50%;
              }
              .position2 {
                bottom: -10%;
                right: -50%;
              }
            }
          }
          .avatarAndNameContainer {
            p {
              font-size: 1.5rem;
            }
          }
        }
        .wordsContainer {
          p {
            font-size: 1.2rem;
          }
        }

        .wordsContainer2 {
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    .transferPlayers {
      .transferPlayersContainer {
        .tubePart2 {
          h1 {
            font-size: 2rem;
          }
          .symbolExchange {
            width: 20%;
          }
        }
        .allanimation {
          .avatarAndNameContainer {
            p {
              font-size: 1.5rem;
            }
          }
        }
        .wordsContainer {
          p {
            font-size: 1.2rem;
          }
        }

        .wordsContainer2 {
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 550px) {
    height: 85vh;
    width: 100%;
    .transferPlayers {
      .transferPlayersContainer {
        .allanimation {
          height: 90%;
          .tubeContainer {
            .tubePart1 {
              .position1 {
                bottom: 70%;
                left: -70%;
              }
              .position2 {
                bottom: -10%;
                right: -70%;
              }
            }
          }
        }
        .wordsContainer {
          width: 30%;
          bottom: 70%;
          left: 60%;
        }

        .wordsContainer2 {
          width: 30%;
          bottom: 10%;
          right: 65%;
        }
      }
    }
    @keyframes exchangeLeft {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, 18vh);
      }
    }
    @keyframes exchangeRight {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, -18vh);
      }
    }
  }

  @media screen and (max-width: 450px) {
    .transferPlayers {
      height: 100%;

      .transferPlayersContainer {
        border: none;
        width: 100%;
        height: 100%;
        .allanimation {
          height: 90%;
          .tubeContainer {
            .tubePart1 {
              .position1 {
                bottom: 80%;
                left: -100%;
              }
              .position2 {
                bottom: 0%;
                right: -100%;
              }
            }
          }
        }
      }
    }
    @keyframes exchangeLeft {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, 25vh);
      }
    }
    @keyframes exchangeRight {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, -25vh);
      }
    }
  }

  @media screen and (max-width: 375px) {
    .transferPlayers {
      .transferPlayersContainer {
        .tubePart2 {
          h1 {
            font-size: 1.5rem;
          }
          .symbolExchange {
            width: 15%;
          }
        }
        .allanimation {
          .tubeContainer {
            .tubePart1 {
              .position1 {
                bottom: 80%;
                left: -150%;
              }
              .position2 {
                bottom: 0%;
                right: -150%;
              }
            }
          }
        }
        .wordsContainer {
          p {
            font-size: 1rem;
          }
        }

        .wordsContainer2 {
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
